.quote::before {
	transition: all .2s;
	content: "➡️";
	display: inline-block;
}

.quote.rising::before {
	color: green; /* silvic */
	transform: rotate(-15deg);
}

.quote.falling::before {
	color: red;
	transform: rotate(15deg);
}

